:root {
  font-size: 60%;
  --color-green: #03dac5;
  --color-green-dark: #007368;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.logo{
  width: 120px;
  margin-left: 40px;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(180deg, #e7fffc 100%, #03dac5 100%);
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: darkslategray;
}

b {
  color: var(--color-green);
}

#header-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

 
.scrollable {
  background-color: var(--color-green-dark) !important;
  border-bottom: 2px solid var(--color-green);
  padding: 10px 0 !important;
  transition: background-color 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
}

.scrollable nav ul li a{
  color: var(--color-green) !important;
}

.scrollable .button-li {

  background-color: var(--color-green) !important;
  color: #fff !important;
}

.scrollable h1 {
  color: #fff !important; 
  font-size: 3rem !important;
}



#header-page h1 {
  color: var(--color-green);
  margin-left: 24px;
  font-size: 5rem;
}

#header-page nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0 24px;
}

#header-page nav ul li {
  margin: 12px;
  color: var(--color-green-dark);
  font-weight: 700;
  font-size: 1.8rem;
}
#header-page .button-li {
  padding: 16px 21px;
  background-color: var(--color-green-dark);
  color: #fff;
  border-radius: 6px;
  transition: .5s;
}

#header-page .button-li:hover {
  background-color: #00332e;
}

.banner-slider {
  margin-top: 148px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.banner-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 80%;
  padding: 48px;
}

.item-text {
  color: #858585;
  font-size: 2.4rem;
  line-height: 1.6;

}
.item-text h4 {
  color: var(--color-green);
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 16px;
}

.banner-svgs {
  display: flex;
  width: 50%;
}

.banner-svgs img {
  width: 80%;
  height: 80%;
  margin-left: 24px;
  margin-right: 24px;
}


.banner-slider {
  width: 100%;
}

.banner-slider .btn-previous,
.banner-slider .btn-next {
  margin: 8px;
  width: 48px;
  opacity: 0.6;
  transition: 0.5s;
}

.banner-slider .btn-previous:hover,
.banner-slider .btn-next:hover {
  opacity: 1;
}

#screen1 {
  background-color: var(--color-green);
  width: 100%;
  padding: 24px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


#screen1 .text-screen h2 {
  color: #007368;
}

#screen1 .text-screen h5 {
  color: #27968b;
}

.text-screen {
  width: 100%;
}

.text-screen h2{
  font-weight: 700;
  font-size: 3.4rem;
  margin-bottom: 24px;
}

.text-screen h5{
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 16px;
}

#screen2 {
  background-color: var(--color-green-dark);
  width: 100%;
  padding: 24px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#screen2 .text-screen h2 {
  color: #fff;
}

#screen2 .text-screen h5 {
  color: #fff;
}

#screen3 {
  background: linear-gradient(180deg, #e7fffc 100%, #03dac5 100%);
  width: 100%;
  padding: 24px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}

#screen3 .text-screen h2 {
  color: var(--color-green-dark);
}

#screen3 .text-screen h5 {
  color: #858585;
}

#screen-download{
  background-color: #fff;
  width: 100%;
  height: 50%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#screen-download .text-screen {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

#screen-download .text-screen h2 {
  color: var(--color-green-dark);
  margin: 0 auto 24px auto;
}

#screen-download button {
  width: 20rem;
  height: 5rem;
  background-color: var(--color-green);
  border-radius: .6rem;
  outline: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: .5s;
  margin: 0 auto;
}

#screen-download button:hover{
  background-color: var(--color-green-dark);
  box-shadow: 0 4px 8px #00302b98;
}


#banner {
  width: 100%;
  display: flex;
  background-color: var(--color-green-dark);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-height: 600px;
  padding: 48px;
}

#banner hgroup {
  width: 100%;
  margin: 0 auto;
}

#banner hgroup h2 {
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #03dac5;
}

#banner hgroup h5 {
  font-size: 2.8rem;
  font-weight: 400;
}

#banner figure img {
  width: 80%;
  margin-left: 48px;
}

#banner {
  color: #fff;
}

#section-sobre {

    background:  linear-gradient(180deg, #e7fffc 100%, #03dac5 100%);
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%
    
}

#section-sobre #texts {
  color: #007368;
  font-size: 2em;
  line-height: 2;
}

#section-sobre #screen_phone {
  position: absolute;
  width: 32%;
}

#section-sobre #bolas {
  opacity: 1;
}

#section-sobre #images {
  margin-top: 10em;
}

#section-dev {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#section-dev #avatar-devs {
  display: grid;
  background-color: var(--color-green-dark);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 0px;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.grid-template-columns {
	grid-template-columns: 200px 200px;
}


#section-dev #avatar-devs .avatar-dev {
  width: 150px;
  text-align: center;
}

#section-dev #avatar-devs .avatar-dev .name-dev{
  font-size: 2em;
  color: #fff;
}

#section-dev #avatar-devs .avatar-dev img {
  width: 150px;
  border-radius: 50% !important;

}

#section-dev #text-dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

#section-dev #text-dev h1 {
  font-size: 5em;
  color: var(--color-green-dark);
}

#section-dev #text-dev p {
  margin-top: 20px;
  font-size: 2em;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 180px;
  background-color: #003b36;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 24px;
}

.logo-footer {
  padding: 16px;
  border-bottom: 1px solid #e7fffc;
  width: 100%;
}
.icons-store {
  margin: 16px 0;
  align-self: flex-end;
}

.store-size {
  width: 140px;
  margin-left: 16px;
}

@media(max-width:900px){

  #header-page h1 {
    color: var(--color-green);
    margin-left: 24px;
    font-size: 2.5rem;
  }

  .scrollable h1 {
    color: #fff !important; 
    font-size: 2rem !important;
  }

  .scrollable .button-li {
    display: block;
    color: #fff !important; 
    font-size: 2rem !important;
  }

  .scrollable .menu-item {
    display: none;
  }
  
  .button-li {
    display: none;
  }
  

  .banner-svgs {
    display: none;
  }
  .banner-items {
    width: 100%;
    padding: 24px;
    line-height: 1.4;
  }

  .item-text {
    color: #858585;
    font-size: 2rem;
    line-height: 1.5;
    word-wrap: break-word;
    width: 100%;
    padding: 1rem;
  }

  .navigation {
    position: relative;
    bottom: 0;
  }

  .banner-slider {
    margin-top: 80px;
    width: 100%;
    justify-content: center;
    text-align: start;
    height: auto;
  }
  #screen1,
  #screen2,
  #screen3,
  #section-sobre {
    flex-direction: column;
  }

  
  #banner {
    flex-direction: column;
  }
  #banner figure img {
    margin: auto;
  }
  #banner figure {
    margin: auto;
  }



  #section-sobre #texts {
    margin-top: auto;
  }

  #section-sobre #screen_phone {
    display: none;
    width: 100%;
  }

  #section-sobre #bolas{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 40%;
    z-index: 1;
    opacity: 0.3;
  }

  #section-dev #avatar-devs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #section-dev {
    margin-top: 15em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 100%;
  }

  #section-dev #text-dev {
    background-color: var(--color-green-dark);
  }

  #section-dev #text-dev h1 {
    font-size: 3em;
    color: #fff;
    padding: 1em;
  }

  #section-dev #avatar-devs {
    padding: 3em;
    border-radius: 0;
  }

  #section-dev #avatar-devs .avatar-dev {
    margin-bottom: 20px;
  }
  
}